.card{
    .ms_heart{
        top: 15px;
        right: 0;
        background-color: white;
    }
    .ms_heart:hover{
        color: red;
    }
    .ms_badge{
        top: 450px;
        left:10px;
    }
}