.card{
    .ms_heart{
        top: 15px;
        right: 0;
        background-color: white;
    }
    .ms_heart-fovourite{
        color: red;
    }
    .ms_badge{
        top: 450px;
        left:10px;
    }
    .ms_card-body{
        p, h4{
            margin: 0;
        }
    }
}